TrelloSync/.vs/TrelloSync/v16/Server/sqlite3/db.lock
TrelloSync/.vs/TrelloSync/v16/Server/sqlite3/storage.ide
TrelloSync/.vs/TrelloSync/v16/Server/sqlite3/storage.ide-shm
TrelloSync/.vs/TrelloSync/v16/Server/sqlite3/storage.ide-wal
